*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hind Siliguri', sans-serif;
}

body, html, .wrapper{
    width: 100%;
    height: 100%;
}

#index-options{
    text-align: center;
}

.flex-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.i-option{
    background-color: aliceblue;
    width: 200px;
    height: 100px;
    border-radius: 15px;
    text-decoration: none;
    color: black;
    font-size: 25px;
}

#login-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    form{
        width: 300px;
    }
    input{
        width: 100%;
    }
    button{
        width: 100%;
        cursor: pointer;
    }
}

#login-box form{
    text-align: left;
}

.error{
    color: red;
    text-align: center;
}

#top-nav{
    width: 100%;
    background-color: cadetblue;
    a{
        color: white;
        padding: 10px;
        text-decoration: none;
        font-size: 25px;
    }
}

#panel-home{
    text-align: center;
}

#panel-tickets{
    .pt-tickets{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
}

.pt-ticket{
    width: 300px;
    height: 300px;
    border-radius: 15px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a{
        text-decoration: none;
        color: white;
        padding: 5px;
        font-size: 15px;
        background-color: brown;
        border-radius: 15px;
    }
}