{% extends 'main.html' %}

{% block title %}Log in{% endblock %}

{% block body %}
<div class="wrapper">
    <div id="login-box">
        <h1>Log in</h1>
        <form action="/api/v1/login" method="POST">
            <div class="input-group">
                <label for="username">Username</label>
                <br>
                <input type="text" name="username" id="username" placeholder="Username" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <br>
                <input type="password" name="password" id="password" placeholder="Password" required>
            </div>
            <button type="submit">Log in</button>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="error">
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
                </div>
            {% endif %}
            {% endwith %}
        </form>
    </div>
</div>
{% endblock %}