{% extends 'main.html' %}

{% block title %}Check ticket status{% endblock %}

{% block body %}
<div class="wrapper">
    <div id="login-box">
        <h1>Check ticket status</h1>
        <form action="/check" method="GET">
            <label for="">Ticket ID</label>
            <br>
            <input type="text" name="code" id="">
            <button>Check status</button>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="error">
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
                </div>
            {% endif %}
            {% endwith %}
        </form>
        {% if ticket_status %}
        <h1>Your ticket status is: {{status}}</h1>
        {% endif %}
    </div>
</div>
{% endblock %}